brotli==1.1.0
ConfigParser==7.0.0
cryptography==42.0.8
Cython==3.0.10
dl==0.1.0
HTMLParser==0.0.2
importlib_metadata==6.0.0
ipaddr==2.2.0
keyring==25.2.1
lockfile==0.12.2
lxml==5.2.2
matplotlib==3.6.3
mypy_extensions==1.0.0
numpy==1.22.1
ordereddict==1.1
pandas==1.5.1
protobuf==3.20.3
pyOpenSSL==24.1.0
pywin32==306
scikit_learn==1.1.2
streamlit==1.17.0
streamlit_option_menu==0.3.13
tensorflow==2.12.0
tensorflow_intel==2.12.0
thread==2.0.3
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.12.0
